/* styles.css */

.product-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-item {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 16px;
    flex: 1 1 200px;
  }
  
  .avi
  {
    display: flex;
 
  }
  .avi1{
    margin: 4px;
    padding: 10px;
  }

  /* styles.css */


.product-item ul {
  list-style-type: none;
  padding: 0;
}

.product-item li {
  margin: 4px 0;
}
